@media only screen and (max-width: 600px) {

  body{
    font-size: 12px !important;
    width: 93vw !important;
    
  }

  #title{
    width: 40vh !important;
    padding: 15px 0 0 0 !important;
    text-align: center !important;
    font-size:17px !important;
    position:absolute !important;
  }

  .winner{
    font-size:17px;
  }

  .winnerDiv{
    font-size: 11px !important;
    margin-top: 12vh; 
  }

  .reset{
    margin:10px;
    font-size: 13px !important;
    width: 35vw !important;
    height: 5vh !important;
  }

  .sections{
    display: flex !important;
    flex-direction: column !important;
  }
  img{
    width:90px !important;
  }
  .playerImgs,
  .computerImgs {
    width:40vh !important;
  }
}

html{
  font-family: 'Press Start 2P', cursive;
  text-shadow: 1px 5px 0px rgba(0,0,0,1);
}

body {
    font-size: 20px;
    color: white;
    font-weight: 700;
    font-variant: small-caps;
    text-transform: lowercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("./images/fondo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    color: white;
    overflow: hidden !important;
  }

  #title{
    background-color:rgb(199, 73, 0);
    padding: 20px;
    border-top: 3px solid rgb(226, 192, 173);
    border-left: 3px solid rgb(226, 192, 173);
    border-bottom: 3px solid rgb(7, 3, 0);
    border-right: 3px solid rgb(5, 2, 0);
    border-radius: 5px;
    height: 6vh;
    width: 600px;
    
  }

  .scores{
    display: flex;
    padding: 10px;
  }

  .playerScore, .computerScore, .divider{
    font-size: 40px;
    margin:5px;
  }

  .choices {
    display: flex;
    width: 80vw;
    justify-content: space-around;
    position: absolute;
    z-index: 1;
  }
  
  .sections{
    text-shadow: 1px 3px 0px rgba(0,0,0,1);
    display: flex;
    justify-content: space-evenly;
  }

  .playerSection, .computerSection{
    max-width: auto;
    margin: 20px;
  }
  .playerImgs,
  .computerImgs {
    background-color:rgb(199, 73, 0);
    border-top: 3px solid rgb(226, 192, 173);
    border-left: 3px solid rgb(226, 192, 173);
    border-bottom: 3px solid rgb(7, 3, 0);
    border-right: 3px solid rgb(5, 2, 0);
    border-radius: 5px;
    border-radius: 10px;
    display: flex;
    width:95%;
    padding: 10px;
  }
  img {
    border-radius: 5px;
    width: 35%;
  }
  .pImg:hover {
    cursor: pointer;
    background-color: rgba(197, 101, 56, 0.589);
    border-top: 3px solid rgb(226, 192, 173);
    border-left: 3px solid rgb(226, 192, 173);
    border-bottom: 3px solid rgb(7, 3, 0);
    border-right: 3px solid rgb(5, 2, 0);
    border-radius: 10px;
    margin:-3px;
  }
  .active {
    background-color: rgba(197, 101, 56, 0.589);
    border-top: 3px solid rgb(226, 192, 173);
    border-left: 3px solid rgb(226, 192, 173);
    border-bottom: 3px solid rgb(7, 3, 0);
    border-right: 3px solid rgb(5, 2, 0);
    border-radius: 10px;
    margin:-3px;
  }
  
  .winner {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .reset {
    font-family: 'Press Start 2P', cursive;
    display: none;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 5vh;
    background-color: white;
    color: rgb(199, 73, 0);
    font-size: 20px;
    font-weight: 700;
    font-variant: small-caps;
    text-transform: lowercase;
    border-top: 3px solid rgb(202, 129, 87);
    border-left: 3px solid rgb(192, 117, 74);
    border-bottom: 3px solid rgb(148, 60, 33);
    border-right: 3px solid rgb(128, 57, 24);
    border-radius: 15px;
    margin-bottom: 10px;
    text-align: left;
    text-shadow: 1px 3px 0px rgba(0,0,0,1);
  }
  .reset:hover {
    cursor: pointer;
    background-color: rgb(199, 73, 0);
    border: 3px solid white;
    color:white;
    border-top: 3px solid rgb(226, 192, 173);
    border-left: 3px solid rgb(226, 192, 173);
    border-bottom: 3px solid rgb(7, 3, 0);
    border-right: 3px solid rgb(5, 2, 0);
  }
  .winnerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }